
@media (min-width: 1200px) {
	.container-big{
		max-width: 1280px;
	}
}


#influence{
	background-image: url(../image1.jpg);
	background-position:center;
	font-family: Open Sans,Arial,Helvetica,sans-serif;
}	



#influence h2{
	color: rgb(235, 222, 194);
	text-align: right;
	font-weight:400;
	font-size:17px;
	text-transform: uppercase;
	padding-top:80px;
}	

#influence h1{
	color: white;
	text-align: right;
	font-weight:700;
	font-size:52px;
	margin-bottom:20px;
}	
	

#influence p{
	color: rgb(235, 222, 194);
	font-size:17px;
	text-align:right;
	margin-bottom:30px;
}	

#influence a{
	display: inline-block;
	padding:10px 30px;
	border: 1px solid orange;
	color:orange;
	text-transform: uppercase;
	text-decoration: none;	
	margin-bottom:70px;

}



#avenement{
	background-image: url(../image2.jpg);
	background-position:center;
	font-family: Open Sans,Arial,Helvetica,sans-serif;
}	



#avenement h2{
	color: rgb(235, 222, 194);
	text-align: left;
	font-weight:400;
	font-size:17px;
	text-transform: uppercase;
	padding-top:80px;
}	

#avenement h1{
	color: white;
	text-align: left;
	font-weight:700;
	font-size:52px;
	margin-bottom:20px;
}	
	

#avenement p{
	color: rgb(235, 222, 194);
	font-size:17px;
	text-align:left;
	margin-bottom:30px;
}	

#avenement a{
	display: inline-block;
	padding:10px 30px;
	border: 1px solid #ea3012;
	color:#ffd36b;
	text-transform: uppercase;
	text-decoration: none;	
	margin-bottom:70px;
	background-color:rgba(159, 22, 0, 0.6);
	margin-right:20px;
	outline: 1px solid black;
}


#avenement a.ensavoir{

	border: 1px solid orange;
	color:orange;
	text-transform: uppercase;
	text-decoration: none;	
	margin-bottom:70px;
	background-color:rgba(0, 0, 0, 0.4);
}


#vision{
	font-family: Open Sans,Arial,Helvetica,sans-serif;
}	

#vision h5{
	color: #D6C9B0 ;
    text-align: center;
    font-size: 18px;
}	
#vision h1{
	color: #F8B700 ;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}	