
@media (min-width: 1200px) {
	.container-big{
		max-width: 1280px;
	}
}

#influence{
	background-image: url(../image1.jpg);
	background-position:center;
}

#influence h2{
	font-family:Open Sans,Arial,Helvetica,sans-serif;
	color: #ebdec2;
	font-size:17px;
	font-weight:400;
	text-transform: uppercase;
	text-align:right;
	padding-top:70px;
}

#influence h1{
    font-family:Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
	color: white;
	font-size:50px;
	font-weight:700;
	text-align:right;
}

#influence p{
     font-family:Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
	color: #ebdec2;
	font-size: 17px;
	font-weight:400;
	text-align:right;
}
#influence a {
    border: 1px solid #c77e19;
    color:#f7b10a;
    font-size:18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    padding: 12px 30px;
  
}
