.container-big {
    max-width : 1280px;
}

h2 {
    font-family: Open Sans,Arial,Helvetica,sans-serif;
    color: #ebdec2;
    font-size: 1.44rem;
    text-transform: uppercase;
}

h1 {
    font-size: 17 px;
    font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
    color: #fff;
}

p {
    font-size: 17px;
    font-family: Open Sans,Arial,Helvetica,sans-serif;
    color: #ebdec2;
}